@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-bottom: 80px;
}

#hero .container {
    background: linear-gradient(99.03deg, #FBED96 -1%, #ABECD6 92.31%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1),
        0px 23px 30px rgba(171, 236, 214, 0.2);
    border-radius: 44px;
    padding: 38px 130px;
}

#hero .momoji-bg {
    width: 100px;
    height: 100px;
    padding: 40px 32px;
    background: #EFFFFA;
    box-shadow: 0px 25px 50px -12px rgba(182, 237, 207, 0.4);
    border-radius: 124px;
}

.font-head1 {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -0.06em;
    color: #111827;
}

.font-haed2 {
    font-weight: 500;
    font-size: 60px;
    line-height: 118.6%;
    color: #111827;
}

.ideas {
    color: #40C4FF;
    position: relative;
    display: inline-block !important;
}

.ideas::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 7px;
    width: 100% !important;
    border: solid 8px #FFF278;
    border-color: #FFF278 transparent transparent transparent;
    border-radius: 100%;
}

.btn-downloadcv {
    text-decoration: none;
    color: #111827;
}

/* Lastes Projects */
.title-section {
    font-size: 92px;
    color: #111827;
    font-weight: 500;
    line-height: 82px;
    margin-bottom: 60px;
}

.title-card {
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;
    color: #111827;
}

.bg-projects {
    height: 270px;
    border-radius: 18px;
}

#project1 {
    background: #E23839;
}

#project2 {
    background: #022516;
}

#project3 {
    background: #ED7854;
}

/* End Lastes Projects */

/* About Me */
#bg-me {
    background-image: url(../img/under-aboutme.png);
    background-repeat: no-repeat;
    display: block;
    bottom: -12px;
    left: 0;
}

.describe-me {
    padding-left: 20px;
    border-left: 4px solid #111827;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 400;
    margin-bottom: 48px;
}

.skill {
    font-size: 52px;
    font-weight: 500;
    line-height: 90%;
    color: #111827;
}

.gambar-skill {
    padding: 8px 0;
}

.bg-skill {
    padding: 12px;
}

.background-skill {
    width: 148px;
    height: 148px;
    box-shadow: 0px 9.12096px 9.12096px rgba(8, 163, 230, 0.1), 0px 9.12096px 9.12096px rgba(7, 126, 218, 0.2);
    border-radius: 41.0443px;
}

#skill1 {
    background: #38BDF8;
}

#skill2 {
    background: #83CD29;
}

#skill3 {
    background: #00618A;
}

/* End About Me */

/* Contact */
#contact .container {
    background: #111827;
    border-radius: 48px 48px 0 0;
    padding: 80px 24px 28px;
}

#contact .title-section {
    margin-bottom: 8px;
}

#contact .desc {
    font-size: 28px;
    font-weight: 400;
}

#email {
    border-bottom: 3px solid #fff;
}

/* End Contact */